/* Videos Section */
.videos {
    width: 100%;
    grid-area: videos;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 15px;
    padding: 0 10px;
    text-align: start;
    grid-auto-rows: min-content;
}


.videos h2 {
    grid-column: 1 / -1;
    padding: 35px 20px 0 20px;
    font-size: 1.25rem;
    letter-spacing: 0.06rem;
    text-align: start;
}

.videos .video {

    grid-template-columns: 55px 1fr;
    grid-gap: 5px;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
    margin-bottom: 35px;

    margin: 10px;
    /* background-color: #99aeff;
   background-image: linear-gradient(to bottom right, #ee9ca7, #BB377D);*/
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
    padding: 5px;
}

.videos .video:hover {
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.videos .video p {
    color: var(--color);
    font-weight: 600;
    margin: 20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
    position: absolute;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.videos .video:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}

.videos .video img {
    width: 100%;
}

.videos .video .avatar {
    padding: 4px;
    height: 100%;
}

.videos .video .thumbnail {
    grid-column: 1 / -1;
    min-height: 150px;

}



.videos .video .thumbnail:hover {
    opacity: 0.2;
    background-color: black;
}


.videos .video .title {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.2;
}

@media(max-width:700px) {
    .videos {
        grid-column: 1 / -1;
    }
}

.videos.small-mode {
    grid-template-columns: 1fr;


}

.videos.small-mode .video {
    grid-template-columns: 180px 1fr;
    margin-bottom: 0;
    grid-gap: 20px;

}

.videos.small-mode .thumbnail {
    grid-column: 1 / 2;

}

.videos.small-mode h2 {
    grid-column: 1 / -1;
    padding: 15px 20px 0 0;
    margin-top: 35px;
    font-size: 1rem;
    letter-spacing: 0.06rem;
    text-align: start;
    font-weight: normal;
    border-top: 1px solid #cccccc;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}