.top {
    display: flex;

    align-items: center;
    grid-gap: 8px;
    background: white;
    background-image: linear-gradient(to bottom right, #16222A, #3A6073);

    padding: 8px 15px;
    justify-content: space-between;
}

a {
    text-decoration: inherit;
}

.back_btn,
.top>.search_btn {
    display: none;
}

.top button {
    width: var(--buttonwidth);
    height: var(--buttonwidth);
    background: transparent;
    border: none;

    cursor: pointer;
}




.user_avatar {
    opacity: 1 !important;
    border: 3px solid blanchedalmond !important;
    border-radius: 30px;
    margin-left: 10px;
}

.top .logo {
    opacity: 1;
    width: 100px;
}

.top .logoImg {
    opacity: 1;
    height: 30px;

    width: 130px;
}

i {
    color: blanchedalmond;
    font-size: 25px;
    padding: 0px;

}

.search {
    display: grid;
    grid-template-columns: 30px 1fr [search-start] minmax(100px, 500px) auto 1fr 30px;
    align-items: center;
}

.search input {
    padding-left: 5px;
    height: 32px;
    border: 1px solid var(--bordercolor);
    border-right: none;
    grid-column: search-start;
}

.new_video {
    width: 5% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blanchedalmond !important;
}

.search button {
    background: #f8f8f8;
    border: 1px solid var(--bordercolor);
    height: 32px;
    width: 70px;
    padding: 5px
}

.search .search_btn img {
    width: 100%;
    height: 100%;
}

@media(max-width:700px) {
    .search {
        display: none;
    }

    .top>.search_btn {
        display: block;
        justify-self: right;
    }

    .top.search_active>* {
        display: none;

    }

    .top.search_active .search {
        display: grid;
        grid-column: 2/-1;
        grid-template-columns: [search-start] 1fr auto;
    }

    .top.search_active .back_btn {
        display: inline;
    }

}