@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

/*    asdadadadsa                                 ------------------------------------------------------*/


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.below-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}